<mat-accordion>
    <mat-expansion-panel [formGroup]="profileForm">
      <mat-expansion-panel-header>
        <mat-panel-title>
          1.Identification panel
        </mat-panel-title>
        <mat-panel-description>
          Type your personal or business details (as a representative)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field style="width: 100%; ">
        <input matInput  formControlName="firstName" placeholder="First name">
      </mat-form-field>
      <br/>
  
      <mat-form-field style="width: 100%; ">
        <input matInput formControlName="lastName" placeholder="Last name">
      </mat-form-field>
      <br/>

      <mat-form-field style="width: 100%; ">
        <input matInput formControlName="phoneNumber" placeholder="Phone number">
      </mat-form-field>
      <br/>

      <mat-form-field style="width: 100%; ">
        <input matInput formControlName="email" placeholder="Email address">
      </mat-form-field>
      <br/>

    </mat-expansion-panel>
    <mat-expansion-panel [formGroup]="estimatesForm">
      <mat-expansion-panel-header>
        <mat-panel-title>
            2.Estimate your reciclables quantities (in kilograms)
        </mat-panel-title>
        <mat-panel-description>
            All values are considered kilograms
        </mat-panel-description>
      </mat-expansion-panel-header>
       
      <mat-form-field style="width: 100%; ">
        <label matLabel>Plastics</label>
        <input matInput type='number' formControlName="plastic" value="0" >

      </mat-form-field>
      <br/> 
      
      <mat-form-field style="width: 100%; ">
        <label matLabel>Paper</label>
        <input matInput type='number' formControlName="hartii" value="0" >

      </mat-form-field>
      <br/> 
      
      <mat-form-field style="width: 100%; ">
        <label matLabel>Bateries</label>
        <input matInput type='number' formControlName="baterii" value="0" >

      </mat-form-field>
      <br/> 
      
      <mat-form-field style="width: 100%; ">
        <label matLabel>Electronics</label>
        <input matInput type='number' formControlName="calculatoare" value="0" >

      </mat-form-field>
      <br/> 
      
      <mat-form-field style="width: 100%; ">
        <label matLabel>Glass</label>
        <input matInput type='number' formControlName="sticla" value="0" >

      </mat-form-field>
      <br/> 
      
      <mat-form-field style="width: 100%; ">
        <label matLabel>Chemicals</label>
        <input matInput type='number' formControlName="chimice" value="0" >

      </mat-form-field>
      <br/> 
      
      <mat-form-field style="width: 100%; ">
        <label matLabel>Metals</label>
        <input matInput type='number' formControlName="metalice" value="0" >

      </mat-form-field>
      <br/> 
      
      <mat-form-field style="width: 100%; ">
        <label matLabel>Lightbulbs</label>
        <input matInput type='number' formControlName="mercur" value="0" >

      </mat-form-field>
      <br/> 

      <google-map
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        ></google-map>
        
        <!-- Use custom zoom buttons -->
      <button (click)="zoomIn()">Zoom in</button>
      <button (click)="zoomOut()">Zoom out</button>


    </mat-expansion-panel>
  </mat-accordion>