<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>
      <span style="size:27px; color:#2cfa1f">Recyclopedia</span>
      <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
    </button>
    
    <span class="menu-spacer" style="width:50%"></span>
    <div style="float:right">
      <a color="secondary" mat-button [routerLink]="'/centers'"> All centers </a>
      <a color="secondary" mat-button [routerLink]="'/add-center'"> Add Recicle center </a>
      <a color="secondary" mat-button [routerLink]="'/filters'"> Find my recicling center </a>
      <a color="secondary" mat-button [routerLink]="'/activities'"> Activities </a>
      <a color="secondary" mat-button [routerLink]="'/add-activity'"> Create Activity </a>
    </div>
  </mat-toolbar-row>

  </mat-toolbar>
  <body style="background-image:'url(./assets/background.jpg)'; background-repeat: repeat-y; height:auto; min-height: 1000px;  ">
    <div style="width: 80%; height: 80%; position: relative; left: 10%; top: 5%">
    <router-outlet></router-outlet>

  </div>
  
</body>

