<mat-accordion (opened)="true">
    <mat-expansion-panel [formGroup]="centerForm">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add center
        </mat-panel-title>
        <mat-panel-description>
          Insert the data you want our users to find about your recycle center location
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field style="width: 100%; ">
        <input matInput  formControlName="Name" placeholder="Name">
      </mat-form-field>
      <br/>
  
      <mat-form-field style="width: 100%; ">
        <input matInput formControlName="Adresa" placeholder="Address">
      </mat-form-field>
      <br/>

      <mat-form-field style="width: 100%; ">
        <input matInput formControlName="Email" placeholder="Email address">
      </mat-form-field>
      <br/>
      
      <mat-form-field style="width: 100%; ">
        <textarea matInput formControlName="materials" placeholder="materials">
        </textarea>
      </mat-form-field>
      <br/>

      <button mat-button type="submit" (click)="submitForm()"> Submit </button>
    </mat-expansion-panel>
    
  </mat-accordion>